@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.main_container {
  @include displayCenter(center, flex-start);
  position: relative;
  gap: 20px;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .main_container {
    @include displayCenter(flex-start, center);
    flex-direction: column;
    height: max-content;
  }
}
