@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.main_container {
  @include displayCenter(center, flex-start);
  position: relative;
  gap: 20px;
  width: 100%;
  height: 100vh;
  .navigation_btn {
    position: relative;
    width: clamp(120px, 15vw, 180px);
    height: 30px;
    text-align: start;
    padding-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    &:active {
      transform: scale(0.95);
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 2px;
      height: 100%;
      background-color: var(--sugar_grape);
      transition:
        background-color 0.25s ease,
        height 0.25s ease;
      z-index: 2;
    }
    .navigation__bg {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 0;
      pointer-events: none;
    }
    &:hover {
      .navigation__bg {
        .hex-bg__rect {
          fill: var(--meteor_shower);
        }
      }
      &::before {
        background-color: var(--yellowish_green);
      }
    }
    &.active {
      .navigation__bg {
        .hex-bg__rect {
          fill: var(--meteor_shower);
        }
      }
    }
    &.active::before {
      background-color: var(--yellowish_green);
    }
    .navigation__bg {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 0;
      pointer-events: none;
    }
    .navigation_text {
      position: relative;
      z-index: 1;
      font-size: clamp(16px, 2vw, 18px);
      font-weight: 700;
      letter-spacing: 7.5%;
      color: #f2f2f2;
      font-family: "big_shoulder_regular";
    }
    &__hex-mask-border {
      stroke-width: 2px;
      stroke-linejoin: round;
    }
  }
}

@media screen and (max-width: 768px) {
  .main_container {
    @include displayCenter(flex-start, center);
    flex-direction: column;
    height: max-content;
  }
}
