@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.main_container {
  @include displayCenter(flex-start, center);
  gap: 20px;
  width: 100%;
  border: 1px solid green;
}
