@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.main_container {
  @include displayCenter(flex-start, flex-start);
  position: relative;
  gap: 20px;
  width: 100%;
  height: 100vh;
}
