@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.all {
  @include displayCenter(flex-start, center);
  row-gap: 10px;
  flex-direction: column;
  width: clamp(120px, 17vw, 180px);
  margin: 20px 20px 0px 16px;
  &_categories {
    position: relative;
    width: 100%;
    height: 30px;
    text-align: start;
    padding-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 2px;
      height: 100%;
      background-color: var(--sugar_grape);
      transition: background-color 0.25s ease, height 0.25s ease;
      z-index: 2;
    }
    .category__bg {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 0;
      pointer-events: none;
    }
    &:hover {
      .category__bg {
        .hex-bg__rect {
          fill: var(--meteor_shower);
        }
      }
      &::before {
        background-color: var(--yellowish_green);
      }
    }
    &.active {
      .category__bg {
        .hex-bg__rect {
          fill: var(--meteor_shower);
        }
      }
    }
    &.active::before {
      background-color: var(--yellowish_green);
    }
    .category {
      position: relative;
      z-index: 1;
      font-size: clamp(14px, 2vw, 16px);
      font-weight: 700;
      letter-spacing: 7.5%;
      color: #f2f2f2;
      font-family: "big_shoulder_regular";
    }
  }
}
