@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.all {
  @include displayCenter(center, center);
  position: absolute;
  width: 100%;
  .categories_navigation {
    position: relative;
    width: 100%;
    height: 25px;
    transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    .all_categories {
      position: absolute;
      width: fit-content;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
      height: 20px;
      text-align: start;
      background: none;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      .category {
        position: relative;
        width: fit-content;
        z-index: 1;
        font-size: clamp(14px, 2vw, 16px);
        font-weight: 700;
        letter-spacing: 7.5%;
        color: #f2f2f2;
        font-family: "big_shoulder_regular";
      }
    }
    .slider_divider {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -2px;
      width: 250px;
      height: 2px;
      background: linear-gradient(
        90deg,
        transparent,
        var(--meteor_shower),
        transparent
      );
    }
  }
  .nav_btn {
    @include displayCenter(center, center);
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 100;
    color: var(--white);
    transition: all 0.3s;
    &:hover {
      color: var(--meteor_shower);
    }

    &.left {
      left: 30px;
      &:active {
        transform: scale(0.65);
      }
    }

    &.right {
      right: 30px;
      &:active {
        transform: scale(0.65);
      }
    }
  }
}
