@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.cart {
  position: relative;
  width: 100%;
  height: 500px;
  @include displayCenter(center, center);
  perspective: 2000px;
  margin-top: 30px;
  .cart_content {
    position: absolute;
    width: 350px;
    transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    .cart_title {
      margin-top: 10px;
      font-size: 18px;
      letter-spacing: 7.5%;
      color: var(--meteor_shower);
    }
    .stack {
      margin-bottom: 10px;
      font-size: 14px;
      letter-spacing: 7.5%;
      color: var(--white);
    }
    .about {
      font-family: "iceland_regular";
      font-size: 14px;
      color: var(--light_gray);
    }
  }
  .nav_btn {
    @include displayCenter(center, center);
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 100;
    color: var(--white);
    transition: all 0.3s;
    &:hover {
      color: var(--meteor_shower);
    }

    &.left {
      left: 25%;
    }

    &.right {
      right: 25%;
    }
  }
  .slider_divider {
    position: absolute;
    bottom: -20px;
    width: 400px;
    height: 2px;
    background: linear-gradient(
      90deg,
      transparent,
      var(--meteor_shower),
      transparent
    );
  }
}

.slider_counter {
  position: absolute;
  bottom: -45px;
  font-size: 12px;
  color: #444;
  letter-spacing: 2px;
}
