@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0.047);
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px);
  font-family: "big_shoulder_regular";
  padding: 20px;
  animation: containerOpening 1.5s ease-out forwards;
  &.closing {
    animation: containerClosing 1.5s ease-in forwards;
    pointer-events: none;
  }
  .close {
    position: absolute;
    right: 20px;
    font-size: 25px;
    z-index: 99;
    cursor: pointer;
    color: var(--meteor_shower);
    transition: color 0.2s ease-in-out;
    &:hover {
      color: var(--red);
    }
  }
  .border_cont {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events: none;
    .border {
      position: absolute;
      width: 30px;
      height: 30px;
    }
    .one {
      top: -1px;
      left: -1px;
      border-top: 2px solid var(--meteor_shower);
      border-left: 2px solid var(--meteor_shower);
    }
    .two {
      top: -1px;
      right: -1px;
      border-top: 2px solid var(--meteor_shower);
      border-right: 2px solid var(--meteor_shower);
    }
    .three {
      bottom: -1px;
      left: -1px;
      border-bottom: 2px solid var(--meteor_shower);
      border-left: 2px solid var(--meteor_shower);
    }
    .four {
      bottom: -1px;
      right: -1px;
      border-bottom: 2px solid var(--meteor_shower);
      border-right: 2px solid var(--meteor_shower);
    }
  }
}

.profile_container {
  position: relative;
  // margin: 50px 50px;
  width: 250px;
  height: 250px;
  padding: 20px;
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0.047);
  backdrop-filter: blur(20px);
  // -webkit-backdrop-filter: blur(20px);
  img {
    width: 100%;
    height: 100%;
  }
  .border_cont {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events: none;
    .border {
      position: absolute;
      width: 30px;
      height: 30px;
    }
    .one {
      top: -1px;
      left: -1px;
      border-top: 2px solid var(--meteor_shower);
      border-left: 2px solid var(--meteor_shower);
    }
    .two {
      top: -1px;
      right: -1px;
      border-top: 2px solid var(--meteor_shower);
      border-right: 2px solid var(--meteor_shower);
    }
    .three {
      bottom: -1px;
      left: -1px;
      border-bottom: 2px solid var(--meteor_shower);
      border-left: 2px solid var(--meteor_shower);
    }
    .four {
      bottom: -1px;
      right: -1px;
      border-bottom: 2px solid var(--meteor_shower);
      border-right: 2px solid var(--meteor_shower);
    }
  }
}

.projects_container {
  @include displayCenter(center, center);
  position: relative;
  // margin: 50px 50px;
  width: 100%;
  height: 390px;
  padding: 20px;
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0.047);
  backdrop-filter: blur(20px);
  // -webkit-backdrop-filter: blur(20px);
  background-position: center;
  background-image: contain;
  background-repeat: no-repeat;
  img {
    width: 100%;
    height: 80%;
    // object-fit: cover;
  }
  .border_cont {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events: none;
    .border {
      position: absolute;
      width: 30px;
      height: 30px;
    }
    .one {
      top: -1px;
      left: -1px;
      border-top: 2px solid var(--meteor_shower);
      border-left: 2px solid var(--meteor_shower);
    }
    .two {
      top: -1px;
      right: -1px;
      border-top: 2px solid var(--meteor_shower);
      border-right: 2px solid var(--meteor_shower);
    }
    .three {
      bottom: -1px;
      left: -1px;
      border-bottom: 2px solid var(--meteor_shower);
      border-left: 2px solid var(--meteor_shower);
    }
    .four {
      bottom: -1px;
      right: -1px;
      border-bottom: 2px solid var(--meteor_shower);
      border-right: 2px solid var(--meteor_shower);
    }
  }
}

.settings_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 450px;
  padding: 20px;
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0.047);
  backdrop-filter: blur(20px);
  .border_cont {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events: none;
    .border {
      position: absolute;
      width: 30px;
      height: 30px;
    }
    .one {
      top: -1px;
      left: -1px;
      border-top: 2px solid var(--meteor_shower);
      border-left: 2px solid var(--meteor_shower);
    }
    .two {
      top: -1px;
      right: -1px;
      border-top: 2px solid var(--meteor_shower);
      border-right: 2px solid var(--meteor_shower);
    }
    .three {
      bottom: -1px;
      left: -1px;
      border-bottom: 2px solid var(--meteor_shower);
      border-left: 2px solid var(--meteor_shower);
    }
    .four {
      bottom: -1px;
      right: -1px;
      border-bottom: 2px solid var(--meteor_shower);
      border-right: 2px solid var(--meteor_shower);
    }
  }
}
