@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.graphic {
  width: 100%;
  padding: 5px 10px;
  cursor: pointer;
  &_settings {
    font-family: "big_shoulder_regular";
    font-weight: bold;
    font-size: 18px;
  }
  &:hover {
    background-color: var(--transparent_bg);
  }
}
