@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.range {
  width: 100%;
  margin: 20px 0px;
  &_head {
    @include displayCenter(space-between, center);
    width: 100%;
    font-size: 16px;
    font-family: "big_shoulder_regular";
  }
  &_input {
    width: 100%;
    height: 5px;
    margin-top: 10px;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 33px;
    outline: none;
    background: linear-gradient(
      to right,
      var(--meteor_shower) 0%,
      var(--meteor_shower) var(--range-progress),
      #2a2a2a var(--range-progress),
      #2a2a2a 100%
    );
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 1px solid #e5e5e5;
      cursor: pointer;
      background: repeating-radial-gradient(
          circle at 50% 50%,
          rgba(200, 200, 200, 0.2) 0%,
          rgba(200, 200, 200, 0.2) 2%,
          transparent 2%,
          transparent 3%,
          rgba(200, 200, 200, 0.2) 3%,
          transparent 3%
        ),
        conic-gradient(
          white 0%,
          silver 10%,
          white 35%,
          silver 45%,
          white 60%,
          silver 70%,
          white 80%,
          silver 95%,
          white 100%
        );
      border-radius: 50%;
      box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.4);
    }
  }
}
