@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.sound {
  @include displayCenter(space-between, center);
  width: 100%;
  padding: 5px 0px 5px 10px;
  font-family: "big_shoulder_regular";
  cursor: pointer;
  &_option {
    @include displayCenter(center, center);
    width: 35px;
    height: 35px;
    border: 1px solid var(--gray);
  }
  &_settings {
    font-family: "big_shoulder_regular";
    font-weight: bold;
    font-size: 18px;
  }
  &:hover {
    background-color: var(--transparent_bg);
  }
  .volume {
    width: 100%;
  }
}
