.profile_container {
  position: relative;
  // margin: 50px 50px;
  width: 250px;
  height: 250px;
  padding: 20px;
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0.047);
  backdrop-filter: blur(20px);
  // -webkit-backdrop-filter: blur(20px);
  img {
    width: 100%;
    height: 100%;
  }
  .border_cont {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    .border {
      position: absolute;
      width: 30px;
      height: 30px;
    }
    .one {
      top: -1px;
      left: -1px;
      border-top: 2px solid var(--meteor_shower);
      border-left: 2px solid var(--meteor_shower);
    }
    .two {
      top: -1px;
      right: -1px;
      border-top: 2px solid var(--meteor_shower);
      border-right: 2px solid var(--meteor_shower);
    }
    .three {
      bottom: -1px;
      left: -1px;
      border-bottom: 2px solid var(--meteor_shower);
      border-left: 2px solid var(--meteor_shower);
    }
    .four {
      bottom: -1px;
      right: -1px;
      border-bottom: 2px solid var(--meteor_shower);
      border-right: 2px solid var(--meteor_shower);
    }
  }
}
