@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.profile_cont {
  @include displayCenter(flex-start, flex-start);
  .profile_info {
    @include displayCenter(flex-start, center);
    flex-direction: column;
    width: 300px;
    height: 100vh;
    padding: 20px;
  }
  .profile_content {
    @include displayCenter(center, center);
    position: relative;
    width: 100%;
    max-width: 1320px;
    border: 1px solid red;
    padding-top: 20px;
    padding-right: 20px;
  }
}
