@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.profile_cont {
  @include displayCenter(flex-start, flex-start);
  .profile_info {
    @include displayCenter(flex-start, center);
    flex-direction: column;
    width: 300px;
    max-width: 100%;
    height: 100vh;
    padding: 20px;
  }
  .profile_content {
    @include displayCenter(center, center);
    position: relative;
    width: 100%;
    max-width: 1320px;
    padding-top: 20px;
  }
  .visible {
    display: flex;
  }
  .hidden {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .profile_cont {
    @include displayCenter(flex-start, center);
    flex-direction: column;
    height: 100%;
    .profile_info {
      @include displayCenter(space-evenly, flex-start);
      flex-direction: row;
      width: 100%;
      height: max-content;
    }
    .profile_content {
      padding: 0;
      max-width: none;
      width: 90%;
    }
  }
}

@media screen and (max-width: 550px) {
  .profile_cont {
    .profile_info {
      @include displayCenter(flex-start, center);
      flex-direction: column;
    }
  }
}
