@font-face {
  font-family: "iceland_regular";
  src: url("/fonts/Iceland/Iceland-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "big_shoulder_regular";
  src: url("/fonts/Big_Shoulders/static/BigShoulders-Regular.ttf") format("woff2");
}

:root {
  --bg_color: #000003;
  --meteor_shower: #6633ff;
  --sugar_grape: #9933ff;
  --white: #ffffff;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--bg_color);
  overflow-x: hidden;
}
