@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.profile_cont {
  @include displayCenter("center", center);
  flex-direction: column;
  width: 300px;
  height: 100vh;
  padding: 20px;
  border-right: 2px solid red;
}
