@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

%cont {
  position: relative;
  width: 600px;
  max-width: 100%;
  margin: 30px 0;
  border-bottom: 2px solid grey;
}

%input_style {
  width: 100%;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: "big_shoulder_regular";
  letter-spacing: 2px;
  color: var(--white);
  padding: 0px 5px;
}

%label_style {
  position: absolute;
  top: 10%;
  left: 5px;
  font-size: 20px;
  color: var(--meteor_shower);
  pointer-events: none;
  transition: 0.5s;
}

.form_container {
  width: 100%;
  .form {
    @include displayCenter(center, center);
    flex-direction: column;
    width: 100%;
    .enter_name_cont {
      @extend %cont;
      label {
        @extend %label_style;
      }
      input:focus ~ label,
      input:valid ~ label {
        top: -20px;
      }
      input {
        @extend %input_style;
      }
    }
    .enter_email_cont {
      @extend %cont;
      label {
        @extend %label_style;
      }
      input:focus ~ label,
      input:not(:placeholder-shown) ~ label {
        top: -20px;
      }
      input {
        @extend %input_style;
      }
    }
    .enter_text_cont {
      position: relative;
      width: 600px;
      max-width: 100%;
      margin: 30px 0;
      label {
        padding-left: 5px;
        font-size: 20px;
        color: var(--meteor_shower);
        pointer-events: none;
        transition: 0.5s;
      }
      textarea {
        width: 100%;
        height: 200px;
        margin-top: 5px;
        border: 2px solid grey;
        background: transparent;
        outline: none;
        font-size: 16px;
        font-family: "big_shoulder_regular";
        letter-spacing: 2px;
        color: var(--white);
        resize: none;
        padding: 10px 5px;
      }
    }
  }
}
