.info_container {
  .name_cont {
    margin: 20px 0px 10px 0px;
  }
  .nickname_cont {
    margin: 10px 0px;
  }
  .occupation_cont {
    margin: 10px 0px;
  }
  .availability_cont {
    margin: 10px 0px;
  }
  .name {
    color: var(--meteor_shower);
    font-family: "iceland_regular";
    font-size: 18px;
  }
  .info {
    color: var(--white);
    font-size: 36px;
    font-family: "big_shoulder_regular";
    text-wrap: none;
  }
}

@media screen and (max-width: 768px) {
  .info_container {
    .name {
      text-align: center;
    }
    .info {
      text-align: center;
    }
  }
}
