.about {
  position: relative;
  width: 528px;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 24px;

  font-family: "Manrope", system-ui, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: #f2f2f2;

  overflow: hidden;

  &__title {
    position: relative;
    z-index: 1;
    font-size: 24px;
    font-weight: 700;
  }

  &__bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    pointer-events: none;
  }

  &__hex-mask-border {
    stroke-width: 2px;
    stroke-linejoin: round;
  }
}
