@font-face {
  font-family: "iceland_regular";
  src: url("/fonts/Iceland/Iceland-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "big_shoulder_regular";
  src: url("/fonts/Big_Shoulders/static/BigShoulders-Regular.ttf")
    format("woff2");
}

:root {
  --bg_color: #000003;
  --meteor_shower: #6633ff;
  --sugar_grape: #9933ff;
  --white: #ffffff;
  --yellowish_green: #88e515;
  --red: #e84a4a;
  --light_gray: #7a7a7a;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--bg_color);
  color: #ffffff;
  overflow-x: hidden;
}

@keyframes containerOpening {
  0% {
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
  }
  20% {
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
  }
  80% {
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
  }
  100% {
    transform: translate(-50%, -50%);
    width: 100%;
    height: 650px;
  }
}

@keyframes containerClosing {
  0% {
    transform: translate(-50%, -50%);
    width: 100%;
    height: 650px;
    display: block;
  }
  20% {
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
  }
  80% {
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
  }
  100% {
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    display: none;
  }
}
