@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.gear {
  @include displayCenter(center, center);
  flex-direction: column;
  user-select: none;
  font-family: "big_shoulder_regular";
}

.gear-wrapper ~ .text {
  opacity: 1;
  color: var(--meteor_shower);
  font-size: 24px;
  font-weight: 600;
  transition: all 0.8s ease-in-out;
  transform: skewX(-12deg);
  left: 0;
}

.gear-wrapper:hover::before {
  width: 150px;
  transition: all 0.3s ease-in-out;
  right: 0;
}

.gear-wrapper {
  width: 120px;
  height: 120px;
  @include displayCenter(center, center);
  background: transparent;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    background: #6633ffaa;
    height: 10px;
    width: 60%;
    top: 80px;
    border-radius: 50%;
    filter: blur(15px);
  }

  .gear {
    position: relative;
    width: 100%;
    height: 100%;
    animation: rotateGear 4s linear infinite;
  }

  .g1 {
    position: relative;
    left: 22px;
  }

  .g2 {
    position: relative;
    top: -25px;
    animation: rotateGear 4s linear infinite reverse;
    transition: 4s;
  }

  .g3 {
    position: relative;
    right: 22px;
  }

  &:hover .g1,
  &:hover .g3 {
    animation: rotateGear 0.8s linear infinite;
    filter: drop-shadow(1px 1px 2px var(--meteor_shower));
  }

  &:hover .g2 {
    animation: rotateGear 0.8s linear infinite reverse;
    filter: drop-shadow(1px 1px 2px var(--meteor_shower));
  }

  .spark {
    position: absolute;
    width: 6px;
    height: 6px;
    background: var(--meteor_shower);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
  }

  .spark,
  &:active .spark,
  &:hover:active .spark {
    opacity: 0;
    left: 0;
    animation: none;
  }

  &:hover .spark {
    opacity: 1;
    animation: sparkLeft 0.4s ease-out forwards infinite;
  }

  &:hover .spark:nth-child(1) {
    top: 0%;
    left: 50%;
  }

  &:hover .spark:nth-child(2) {
    top: 20%;
    left: 50%;
  }

  &:hover .spark:nth-child(3) {
    top: 35%;
    left: 50%;
  }
}

@keyframes rotateGear {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes sparkLeft {
  0% {
    transform: translate(0, -50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-100px, -50%) scale(0.5);
    opacity: 0;
  }
}
