@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.contact {
  @include displayCenter("center", "center");
  position: relative;
  width: 151px;
  height: 23px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  overflow: hidden;
  &_title {
    position: relative;
    z-index: 1;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 7.5%;
    color: #f2f2f2;
  }
  &__bg {
    position: absolute;
    inset: 0;
    width: 151px;
    height: 23px;
    display: block;
    z-index: 0;
    pointer-events: none;
  }
  &__hex-mask-border {
    stroke-width: 2px;
    stroke-linejoin: round;
  }
}
